.logo{
  max-width: 10%;
  min-width: 100px;
  height: auto;
}

.bigimg{
  max-width: 90%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.thumbnail{
  max-width: 15%;
  min-width: 250px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.horizontal { display: inline; }


.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.calign{
  display: block;
  margin: 0 auto;
}

.marg{
  margin-left: 1em ;
  margin-right: 1em;
  }

.marg2{
  margin-left: 0.3em ;
  }

.marg3{
  margin-left: 1.5em ;
  } 

div.gallery {
  margin: 5px;
  border: 2px solid #ccc;
  float: left;
  width: 180px;
  padding: 10px 10px 0px 10px;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

@media (max-width: 768px) {
  .logo2{
      width:400px;}
  .align2{
      text-align: center;}
} 
@media (min-width: 769px) {
  .logo2{
      max-width: 10%;
      height: auto;}
  .align2{
      text-align: right;}
}

